<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Virtual 2.0</title>
</head>
<body>
    <header>
        <h1>Bienvenid@ al aula virutal 2.0</h1>
    </header>
    <nav>
        <ul>
            <li><a href="http://localhost:8000/aula_virtual/">Home</a></li>
            <li><a href="http://localhost:8000/aula_virtual/alumnos/listado">Listado alumnos</a></li>
            <li><a href="http://localhost:8000/aula_virtual/alumnos/historico/2017/">Historico de alumnos</a></li>
        </ul>
    </nav>
    <main></main>
    <footer></footer>

</body>
</html>