{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Virtual 2.0 - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block extra_css%}{%endblock%}
</head>
<body>
    {% if messages %} 
        <ul class="messages"> 
            {% for message in messages %} 
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> 
            {% endfor %} 
        </ul> 
    {% endif %} 
    <header>
        <div class="title">
            <h1>Aula Virtual 2.0</h1>
            <h2>{% block section_title %} {% endblock %}</h2>
        </div>
        <div class="actions">
            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}">Login</a>
            {% else %}
                <p>Bienvenid@ <b>{{user.username}}</b></p>
                <a class="logout" href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'alta_alumno' %}">Alta de alumno</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'alumnos_listado' %}">Listado alumnos</a></li>
                <li><a href="{% url 'alumnos_historico' %}">Historico de alumnos</a></li>
            {% endif %}

            <li><a href="{% url 'alta_docente' %}">Alta de docente</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'docentes_listado' %}">Listado Docentes</a></li>
            {% endif %}
            <li><a href="{% url 'contacto' %}">Contactanos</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% include "core/footer.html" %}
    </footer>
</body>
</html>